#Data Overview

In [186]:
import pandas as pd
import numpy as np

#reading data from file
df = pd.read_csv("/content/Amazon-Products.csv")
df.head()

,Unnamed: 0,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [187]:
df.shape

(49225, 10)

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49225 entries, 0 to 49224
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      49225 non-null  int64
 1   name            49225 non-null  object
 2   main_category   49225 non-null  object
 3   sub_category    49225 non-null  object
 4   image           49225 non-null  object
 5   link            49225 non-null  object
 6   ratings         43408 non-null  object
 7   no_of_ratings   43408 non-null  object
 8   discount_price  45993 non-null  object
 9   actual_price    48517 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.8+ MB

In [189]:
df.isnull().sum()

Unnamed: 0           0
name                 0
main_category        0
sub_category         0
image                0
link                 0
ratings           5817
no_of_ratings     5817
discount_price    3232
actual_price       708
dtype: int64

In [190]:
df.duplicated().sum()

0

#preprocessing

In [191]:
# Drop the "link" and "image" column
df.drop(columns=['link','image','Unnamed: 0'], inplace=True)

In [192]:
print("Ratings before cleaning:")
df['ratings'].unique()
print("______________________________________________________________________________")
# Extract the digits and change the type to float
df['ratings'] = df['ratings'].replace(['Get','FREE'], '0.0')
df['ratings'] = df["ratings"].astype(float)
print("Ratings after cleaning:")
df['ratings'].unique()

Ratings before cleaning:
______________________________________________________________________________
Ratings after cleaning:

array([4.2, 4. , 4.1, 4.3, 3.9, 3.8, 3.5, nan, 4.6, 3.3, 3.4, 3.7, 2.9,
       5. , 4.4, 3.6, 2.7, 4.5, 3. , 3.1, 3.2, 4.8, 4.7, 2.5, 1. , 2.6,
       2.8, 2.3, 1.7, 0. , 1.8, 2.4, 4.9, 2.2, 1.6, 1.9, 2. , 1.4, 2.1,
       1.2, 1.3, 1.5])

In [193]:
# Extract the digits and change the type to float
df['no_of_ratings'] = df['no_of_ratings'].replace(['Only 1 left in stock.','Only 2 left in stock.','FREE Delivery by Amazon','Usually dispatched in 2 to 3 days.','Usually dispatched in 5 to 6 days.','Usually dispatched in 4 to 5 days.','Usually dispatched in 6 to 7 days.','Usually dispatched in 7 to 8 days.','Only 3 left in stock.'], '0.0')
df['no_of_ratings'] = df['no_of_ratings'].str.replace(',', '')
df['no_of_ratings'] = df["no_of_ratings"].astype(float)
df['no_of_ratings'].unique()

array([2255., 2948., 1206., ..., 6902., 3053., 5479.])

In [194]:
#filling null with zero
df['ratings'].fillna(0, inplace=True)
df['no_of_ratings'].fillna(0, inplace=True)

In [195]:
# Removing the ₹ sign
df['discount_price'] = df['discount_price'].str.split(" ", expand = True).get(0).str.split("₹", expand = True).get(1)
df['actual_price'] = df['actual_price'].str.split(" ", expand = True).get(0).str.split("₹", expand = True).get(1)
# Change commas to dots and change the type to float
df['discount_price'] = df['discount_price'].str.replace(',', '').astype(float)
df['actual_price'] = df['actual_price'].str.replace(',', '').astype(float)

In [196]:
print(df.describe())

            ratings  no_of_ratings  discount_price   actual_price
count  49225.000000   49225.000000    45993.000000   48517.000000
mean       3.501926    2454.558801     2339.680321    3983.147468
std        1.408195   13629.954558     6937.413355    9954.469589
min        0.000000       0.000000        9.000000       4.000000
25%        3.600000       8.000000      299.000000     699.000000
50%        4.000000      92.000000      575.000000    1299.000000
75%        4.300000     701.000000     1399.000000    2895.000000
max        5.000000  437651.000000   134999.000000  194499.000000

In [197]:
# For "ratings" and "no_of_ratings", replace null values with 0
df['ratings'].fillna(0, inplace=True)
df['no_of_ratings'].fillna(0, inplace=True)

In [198]:
#drop nulls in "actual_price" and "discount_price"
df.dropna(inplace=True)

In [199]:
#check nulls
df.isnull().sum()

name              0
main_category     0
sub_category      0
ratings           0
no_of_ratings     0
discount_price    0
actual_price      0
dtype: int64

In [200]:
#check for outliers in 'actual_price', 'discount_price', 'no_of_ratings', 'ratings'
columns = ['actual_price', 'discount_price', 'no_of_ratings', 'ratings']
for col in columns:
    # calculate interquartile range
    q25, q75 = np.percentile(df[col], 25), np.percentile(df[col], 75)
    iqr = q75 - q25
    # calculate the outlier cutoff
    cut_off = iqr * 1.5
    lower, upper = q25 - cut_off, q75 + cut_off
    # identify outliers
    outliers = ( ( df[col] < lower) | (df[col] > upper) )
    index_label = df[outliers].index
    print(f'Number of outliers in {col}: {len(index_label)}')
# leave outliers as it provide useful insights

Number of outliers in actual_price: 5256
Number of outliers in discount_price: 5682
Number of outliers in no_of_ratings: 7220
Number of outliers in ratings: 6144

In [201]:
df.to_csv('cleaned_Amazon-Products.csv',index=False)